*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  background: #0a0a0a;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items:  center;
  justify-content: center;
  font-family:monospace;
}

/* main gradient */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    #ff0080,
    #7928ca,
    #2afadf,
    #00ff87
  );
  z-index: -2;
}

/* blurred funky blobs */
body::after {
  content: "";
  position: absolute;
  inset: -50%;
  background:
    radial-gradient(circle at 20% 30%, #ff0080, transparent 40%),
    radial-gradient(circle at 80% 20%, #7928ca, transparent 40%),
    radial-gradient(circle at 60% 70%, #2afadf, transparent 40%),
    radial-gradient(circle at 30% 80%, #00ff87, transparent 40%);
  filter: blur(120px);
  opacity: 0.8;
  z-index: -1;
}


   
 .container {
  /*start here  */
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  max-height: 60%;
  padding: 30px;
  border-radius: 30px;
  border: 1px solid whitesmoke;

 }
   
 h1 {
    /*start here  */
    font-size: 3em;
    text-align: center;
 }

 .input-container{
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
 }
 .input-container input{
  width: 100%;
  padding: 10px 20px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  font-family: monospace;
  outline: none;
  font-weight: bold;
  color: whitesmoke;
  border-bottom: 1px solid white;
  /* border-radius: 10px; */
 }
 input::placeholder{
  color: whitesmoke;
  opacity: 0.7;
 }
    
 button {
   /*start here  */
   margin-top: 20px;
   width: 100%;
   padding: 10px 20px;
   font-size: 22px;
   font-weight: bold;
   background-color: #1f1f1f;
   color: whitesmoke;
   border-radius: 10px;
 }
   
 #bookmark-list {
  /*start here  */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  overflow: auto;
  border-radius: 10px;
 }
 
 a{
  text-decoration: none;
  color: white;
  font-size: 30px;
 }
   
 #bookmark-list li{
  /*start here  */
  padding: 10px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgb(46, 192, 249); */
  background-color: rgba(0, 0, 0, 0.572);
  color: white;
  cursor: pointer;
 }

 .contents{
  max-width: 50%;
  height: 100%;
  overflow: hidden;
  gap: 10px;
  /* background-color: #fff; */
 }

 .title{
  font-size: 22px;
  font-weight: 700;

 }

 .url{
  font-size: 16px;
 }
 
 .buttons{
  display: flex;
  gap: 15px;
  align-items: center;
 }

 i.favorite-btn {
  /*start here  */
  font-size: 25px;
 }
   
 button.delete-btn {
  /*start here  */
  background-color: #f1f1f1;
  color: #1f1f1f;
  cursor: pointer;
  margin-top: 0;
 }
   